@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

table,
div,
input,
p,
button,
span,
input::placeholder {
 font-family: 'Poppins', sans-serif;
}

@media (min-width: 640px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}

.floated {
  background: #fff6e4;
}

.floated.active {
  background-color: #fff6e4;
  box-shadow: 0 1px 10px #999;
}

.storebg {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(./Assets/img/bg.jpg);
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
}

@media (width: 768px) {
    .storebg{
        min-height: 90vh;
    }
}

@media (width: 1024px) {
    .storebg{
        min-height: 100vh;
    }
}

